body {
    min-width: 1024px;
    background-image: url('../img/fondo_tapete.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.tier {
    display: inline;
}

.tier img{
    position: absolute;    
}

.tier1 img{
    left: 40vw;
}

.tier2 img{
    left: 50vw;
}

.tier3 img{
    left: 60vw;
}

.carts {
    width: 100px;
    height: 140px;
    user-select: none;
    -webkit-user-drag: none;
    z-index: 100;
}

.tier img[data-position="1"] {
    top: 10vh;
}

.tier img[data-position="2"] {
    top: calc(20vh - 20px);
}

.tier img[data-position="3"] {
    top: calc(30vh - 40px);
}

.tier img[data-position="4"] {
    top: calc(40vh - 60px);
}

.tier img[data-position="5"] {
    top: calc(50vh - 80px);
}

.deck.empty {
    border: 1px solid white;
}

.deck {
    border: none;    
    width: 100px;
    height: 140px;
    display: inline-block;    
    position: absolute;
    top: 48vh;
    left: 20vw;
}

.deck img{
    position: absolute;
}

.deck p {
    color: white;
    margin: 0;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 0px black, -2px -2px 0px black, 
    2px 0px 0px black, -2px 0px 0px black, 0px 2px 0px black, 
    0px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
    z-index: 200;
}

.deck:hover p {
    z-index: 300;
}

.stack_discard.empty {
    border: 1px solid white;
}

.stack_discard{
    border: none;
    position: absolute;
    top: 48vh !important;
    left: 30vw !important;  
    z-index: 3; 
}

.reverse_helper, .deck_reverse{
    transform: perspective(600px) rotateY(0deg);
    transition: transform .5s linear 0s;
}

.reverse_helper.flip{
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(180deg);
}

.deck_cart{
    z-index: 40;
}

#cart_up_tier1:hover, #cart_up_tier2:hover, #cart_up_tier3:hover {
    z-index: 250;
}

#cart_up_tier1, #cart_up_tier2, #cart_up_tier3, .deck_cart{
    transform: perspective(600px) rotateY(-180deg);
    transition: transform .5s linear 0s;
}

#cart_up_tier1.flip, #cart_up_tier2.flip, #cart_up_tier3.flip{
    backface-visibility: hidden;    
    transform: perspective(600px) rotateY(0deg);
}

.deck_cart.new_cart{
    animation: new_cart_front 1.5s linear 1 forwards; 
}

.deck_reverse.new_cart{
    animation: new_cart_back 1.5s linear 1 forwards;    
}

.carts_missing{
    cursor: default;
}

@keyframes new_cart_front {
    0% {
        left: 1vw;
    }
    50%{
        backface-visibility: hidden;
        
    }
    100% {
        left: 10vw;
        transform: perspective(600px) rotateY(0deg);
        backface-visibility: hidden;
    }
}

@keyframes new_cart_back {
    0% {
        left: 1vw;
    }
    50%{
        backface-visibility: hidden;
        
    }
    100% {
        left: 10vw;
        transform: perspective(600px) rotateY(180deg);
        backface-visibility: hidden;
    }
}
