body{
    min-width: 1024px;
}

.estiloCuadro {
    width: 200px;
    height: 200px;
    border: solid orange;
    background-color: brown;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}

.estiloCuadro.fijado{
    top: 0 !important;    
    left: 0 !important;
}

#cuadro1 {
    left: 950px;
}

#cuadro2 {
    left: 700px;
}

#cuadro3 {
    left: 450px;
}

.deck {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aquamarine;
}