/*-------------------------------------------------Configuración-------------------------------------------------*/

.open_customs_instruccions {
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 25px;
    text-align: center;
    color: black;
    /*background: linear-gradient(to top, rgb(235, 235, 235), rgb(230, 230, 230));*/
    cursor: pointer;
    z-index: 800;
    padding: 5px;
    vertical-align: top;
}

.open_customs_instruccions img {
    vertical-align: top;
    width: 30px;
}

.options_instruccions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    text-align: center;
    padding: 0;
    visibility: hidden;
    z-index: 1000;
}

.options_instruccions h1 {
    font-size: 30px;
}

/*-----------------------------------------------Instruciones-----------------------------------------------*/

.menu_icon {
    transition: all .5s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.instruccions {
    width: 50%;
    height: 60%;
    font-size: 15px;
    text-align: center;
    background-color: #F6F6F6;
    border-right: 2px solid black;
    float: left;
    box-sizing: border-box;
    display: none;
    transform: translateY(-200%);
    visibility: hidden;
    opacity: 0;
}

.instruccions.opened,
.options.opened,
.start_game.opened,
.restart_game.opened {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    padding: 20px;
    transform: translateY(0);
}

.instruccions.opened div {
    padding: 10px;
    background: linear-gradient(to top, rgb(235, 235, 235), rgb(230, 230, 230));
}

.instruccions * {
    text-align: left;
    margin: auto;
}

.instruccions h1 {
    margin: 2% 0 2% 0;
    text-align: center;
}

.instruccions p,
.instruccions li {
    font-size: 20px;
}

.instruccions .gameplay {
    width: 90%;
    text-align: center;
    margin: auto;
    display: block;
    border: 1px solid darkgrey;
    margin-top: 5px;
}

.close_instruccions {
    font-size: 25px;
    width: 70%;
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    background-color: darkolivegreen;
    padding: 3px 6px 3px 6px;
    border: 2px dashed black;
    border-radius: 10px;
    cursor: pointer;
}

/*---------------------------------------------End Instruciones---------------------------------------------*/
/*-------------------------------------------------Opciones-------------------------------------------------*/

.options {
    width: 50%;
    height: 60%;
    font-size: 15px;
    text-align: left;
    background-color: #F6F6F6;
    border-left: 2px solid black;
    float: left;
    box-sizing: border-box;
    display: none;
    transform: translateY(-200%);
    visibility: hidden;
    opacity: 0;
}


.options h1 {
    text-align: center;
    margin: 2% 0 2% 0;
}

.open_custom:hover img {
    transform: scale(1.15, 1.15);
}

.fondo_pantalla_ejemplo,
.dorso_ejemplo,
.baraja_ejemplo {
    height: 100px;
    margin-right: 20px;
}

.open_custom img {
    transition: all .25s;
}

.options_expanded {
    overflow: hidden;
    height: 0;
}

.options_expanded label {
    color: black
}

.open_custom {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 25px;
    color: black;
    background: linear-gradient(to top, rgb(235, 235, 235), rgb(230, 230, 230));
    box-sizing: border-box;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    z-index: 800;
}

.close_customs {
    float: right;
    margin: 15px;
}

.close_customs:hover {
    cursor: pointer;
}

.open_custom a {
    font-weight: bold;
}

.open_custom .fa {
    margin-right: 5%;
}

.open_custom p,
.open_customs_instruccions p {
    margin: 0;
    display: inline;
}

.dorso_expanded,
.fondo_pantalla_expanded,
.baraja_expanded {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgb(206, 206, 206), rgb(216, 216, 216));
    border-radius: 10px;
}

.dorso_expanded p,
.fondo_pantalla_expanded p {
    margin: 5px 0 5px 0;
}



@keyframes sub_expand {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height: 20%;
        opacity: 1;
    }
}

@keyframes sub_collapse {
    0% {
        opacity: 1;
        height: 20%;
        padding-top: 5px;
    }

    50% {
        opacity: 0;
    }

    90% {
        padding-top: 5px;
    }

    100% {
        padding-top: 0;
        opacity: 0;
        height: 0px;
    }
}

.sub_expand_anim {
    animation-name: sub_expand;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    padding-top: 5px;
}

.sub_collapse_anim {
    animation-name: sub_collapse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*-------------------------------------------------End Opciones-------------------------------------------------*/
/*-------------------------------------------------New Game-------------------------------------------------*/

.start_game,
.restart_game {
    width: 50%;
    height: 20%;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #F6F6F6;
    display: none;
    transform: translateY(-200%);
    visibility: hidden;
    opacity: 0;
}

.start_game, .restart_game p{
    font-size: 35px;
    margin: 10px;
}

.container_buttons_dificultad {
    display: flex;
    gap: 0%;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 0 20%;
}

.container_buttons_dificultad button {
    cursor: pointer;
    font-size: 30pt;
    font-family: Nunito;
    border-radius: 10px;
    border: 0;
    display: inline;
    color: white;
    text-shadow: 0.5px 0.5px 0px black, -0.5px -0.5px 0px black, 0.5px 0px 0px black, -0.5px 0px 0px black, 0px 0.5px 0px black, 0px -0.5px 0px black, 0.5px -0.5px 0px black, -0.5px 0.5px 0px black;
}

.container_buttons_dificultad button:hover {
    transform: scale(1.1);
}

.container_buttons_dificultad button:first-of-type {
    background: #5B995A;
}

.container_buttons_dificultad button:nth-of-type(2) {
    background: #EF993E;
}

.container_buttons_dificultad button:last-of-type {
    background: #E84340;
}



/*-------------------------------------------------End New Game-------------------------------------------------*/
/*-------------------------------------------------End Configuración-------------------------------------------------*/

/*---------------------------------------------------------Custom Radio Button---------------------------------------------------------*/

/* The container */

.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -moz-user-select: none;
}

/* Hide the browser's default radio button */

.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.container_checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container_checkbox input:checked~.checkmark {
    background-color: #2E2E2E;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

/*
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
*/

/* Show the indicator (dot/circle) when checked */

.container_checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

/*
.container_checkbox .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}*/

/*-------------------------------------------------------End Custom Radio Button-------------------------------------------------------*/

/*-----------------------------------------------End Opciones-----------------------------------------------*/