/*-------------------------------------------------Orientación-------------------------------------------------*/

.tablet_vertical_alert {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    font-size: 30px;
    color: black;
    z-index: 1000;
}

.tablet_vertical_alert_text {
    margin: 0;
}

/*Vertical*/

@media only screen and (orientation:portrait) {
    *:not(html):not(body):not(.tablet_vertical_alert):not(.tablet_vertical_alert_text) {
        opacity: 0;
    }

    .tablet_vertical_alert {
        display: block;
    }
}

/*Horizontal*/
/*
@media only screen and (orientation:landscape) {}
*/
/*-----------------------------------------------End Orientación-----------------------------------------------*/

/*--------------------------------------------------------------- 4K ---------------------------------------------------------------*/

@media (min-width: 1500px) {

    .baraja,
    .carts {
        width: 160px;
        height: 220px;
    }

    .baraja .cartas_restantes {
        font-size: 55px;
    }

    .menu_configuracion_container {
        font-size: 40px;
    }

    .container_results .new_game,
    .container_results .programmer_greeting {
        margin-top: 15px;
    }

    .apariencia p {
        font-size: 30px;
    }

    ul.tabs li a,
    .instrucciones p,
    .instrucciones li,
    .label_checkbox {
        font-size: 30px;
    }

    .checkmark {
        width: 25px;
        height: 25px;
    }
}

/*-------------------------------------------------------------End 4K-------------------------------------------------------------*/

/*--------------------------------------------------------------- Grandes ---------------------------------------------------------------*/

@media (min-width: 1200px) {

    .baraja,
    .carts {
        width: 160px;
        height: 220px;
    }

    .baraja .cartas_restantes {
        font-size: 35px;
    }

    .menu_configuracion_container {
        font-size: 40px;
    }

    .container_results .new_game,
    .container_results .programmer_greeting {
        margin-top: 15px;
    }

    .apariencia p {
        font-size: 25px;
    }

    .instrucciones p,
    .instrucciones li,
    .label_checkbox {
        font-size: 25px;
    }


}

/*-------------------------------------------------------------End Grandes-------------------------------------------------------------*/

/*---------------------------------------------------------------Laptop---------------------------------------------------------------*/

@media (max-width: 1024px) {

    body {
        overflow-y: scroll;
        scroll-behavior: auto;
    }

    .container_custom_lenguaje {
        z-index: 1;
    }

    .start_game,
    .restart_game p {
        font-size: 25px;
    }

    .baraja,
    .carts {
        width: 100px;
        height: 140px;
        border-radius: 5px;
    }

    .baraja {
        top: 40vh;
    }

    .stack_discard {
        top: 40vh !important;
    }

    .column img[data-posicion="1"] {
        top: 12vh;
    }

    .column img[data-posicion="2"] {
        top: calc(20vh - 6px);
    }

    .column img[data-posicion="3"] {
        top: calc(28vh - 12px);
    }

    .column img[data-posicion="4"] {
        top: calc(34vh - 18px);
    }

    .column img[data-posicion="5"] {
        top: calc(42vh - 24px);
    }

    .column img[data-posicion="6"] {
        top: calc(50vh - 30px);
    }

    .container_buttons_dificultad button {
        font-size: 28px;
    }

    .menu_configuracion_container {
        font-size: 20px;
    }

    .configuracion {
        top: 0;
        left: 0;
        transform: none;
        width: 100vw;
    }

    .container_results .new_game,
    .container_results .programmer_greeting {
        margin-top: 15px;
    }

    .apariencia p {
        font-size: 20px;
    }

    ul.tabs li a,
    .instrucciones p,
    .instrucciones li,
    .label_checkbox {
        font-size: 18px;
    }

    .label_checkbox {
        padding-left: 35px;
    }

    input[type='radio'] {
        top: 30%;
    }

    .checkmark {
        width: 15px;
        height: 15px;
    }
}

/*-------------------------------------------------------------End Laptop-------------------------------------------------------------*/

/*---------------------------------------------------------------Tablet---------------------------------------------------------------*/

@media (max-width: 768px) {

    .baraja,
    .carts {
        width: 60px;
        height: 100px;
        border-radius: 5px;
    }

    .container_custom_lenguaje {
        z-index: 1;
    }

    .baraja .cartas_restantes {
        font-size: 25px;
    }

    ul.tabs li a,
    .apariencia p,
    .instrucciones p,
    .instrucciones li,
    .label_checkbox {
        font-size: 12px;
    }

    .label_checkbox {
        padding-left: 35px;
    }

    input[type='radio'] {
        top: 30%;
    }

    .container_results .new_game,
    .container_results p,
    .container_results .programmer_greeting {
        margin-top: 5px;
    }

    .container_results p,
    .container_results .new_game {
        font-size: 20px;
    }
}

/*-------------------------------------------------------------End Tablet-------------------------------------------------------------*/